<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PORT" value="%PORT%" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="build/index.js" verb="*" modules="iisnode" />
    </handlers>
    
    <iisnode node_env="production" nodeArgs="--experimental-json-modules" />
    
    <rewrite>
      <rules>
        <rule name="NodeRule" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="build/index.js" />
        </rule>
      </rules>
    </rewrite>
    
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>